In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

os.chdir('Загрузки')
mistakes_df = pd.read_csv('data_task3.csv', sep = '\t')

Создим колонку где в виде bool учтём ошибки

In [2]:
mistakes_df['is_mistake'] = mistakes_df['jud'] != mistakes_df['cjud']

Теперь посчитаем ошибки

In [3]:
def percent_of_mistakes(x):
    '''Функция для подсчёта процента ошибок
    в аггрегированом дата фрейме
    
    Почему не лямбда? Потому что лямбда даст
    уродливое название колонке'''
    return 100*x.sum()/x.count()

evaluated_mistakes_df = mistakes_df.groupby('uid')['is_mistake']\
    .agg(['count', percent_of_mistakes]).reset_index()\
        .sort_values('percent_of_mistakes')

evaluated_mistakes_df.describe()

              uid       count  percent_of_mistakes
count  600.000000  600.000000           600.000000
mean   299.500000  416.666667            15.934180
std    173.349358   27.024793             5.546233
min      0.000000   99.000000             7.619048
25%    149.750000  403.000000            11.250000
50%    299.500000  417.000000            16.666667
75%    449.250000  432.250000            19.146240
max    599.000000  484.000000            57.420925

Минимум выполненных заданий на пользователя - 99. Достаточно, чтобы для любого пользователя считать оценку значимой
Определим самых ошибающихся

In [4]:
evaluated_mistakes_df.tail(10)

     uid  count  percent_of_mistakes
71    71    433            24.249423
154  154    405            24.444444
335  335    419            25.775656
9      9    423            26.004728
550  550    128            27.343750
234  234     99            51.515152
390  390    412            51.941748
118  118    391            52.429668
3      3    426            53.990610
56    56    411            57.420925

Очевидно что чаще всего ошибаются пользователи:

In [6]:
evaluated_mistakes_df['uid'].tail(5).to_list()

[234, 390, 118, 3, 56]

In [ ]:
Для опредление качества работы пользователя лучше всего использовать распределение доли совершаемых ошибок
Дополнительные метрики использовать можно в случае дефицита пользователей. Например, долю ошибок в 100 последних выполненных работах, доля ошибок в зада